.react-activity-calendar__tooltip {
    width: max-content;
    max-width: calc(100vw - 20px);
    padding: 0.3em 0.6em;
    border-radius: 0.25em;
    background-color: hsl(0 0% 10%);
    color: hsl(0 0% 94%);
    font-size: 13px;

    /* See the `withArrow` setting. */
    .react-activity-calendar__tooltip-arrow {
        fill: hsl(0 0% 10%);
    }

    /* Use this instead of a media query - the component theme can be set */
    /* independent of the system color scheme. */
    [data-theme='dark'] & {
        background-color: hsl(0 0% 94%);
        color: hsl(0 0% 6%);

        .react-activity-calendar__tooltip-arrow {
            fill: hsl(0 0% 94%);
        }
    }
}